/* Root */
:root {
    /* Font Family */
    --main-fs: "Merriweather", sans-serif;
    /* color */
    --white-light-clr: #ffffff;
    --white-clr: #d5d5d5;
    --white-transparant: hsla(0, 0%, 70%, .8);
    --gray-clr: #333333;
    --black-clr: #0f0f0f;
    --text-clr: #f1ff9e;
    --second-text-clr: #def2c1;
}

/* Universal Reset */

::after,
::before,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
    background-color: var(--black-clr);
    font-family: var(--main-fs);
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* --------------------------Resuable Sselector------------------------- */
.container {
    margin-inline: 5rem;
}

/* ---------------------------------HEADER-------------------------------- */
.header {
    position: relative;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: var(--black-clr);
    width: 100%;
}

/* ---------------------------------HEADER STYLING-------------------------------- */
/* Navigation Group */
.header > .navigation__nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 5.5rem;
    margin-inline: 2.7rem;
    align-items: center;
}

/* Navigation Logo */
.navigation__nav > .navigation__logo {
    color: var(--white-light-clr);
    font-weight: 700;
    font-size: 1.5rem;
}

.navigation__nav .navigation__logo > sup {
    font-size: 1.2rem;
}

.navigation__nav .navigation__logo > span {
    font-size: 1.8rem;
    font-weight: 900;
    color: var(--text-clr);
}

/* Navigation Menu */
.navigation__nav > .navigation__menu {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.navigation__nav .navigation__menu-list {
    display: inline-flex;
    column-gap: 2.5rem;
    flex-grow: 1;
    justify-content: center;
}

/* Little Animation For a Class navigation__menu-link */
.navigation__menu-list .navigation__menu-item > .navigation__menu-link {
    cursor: pointer;
    position: relative;
    transition: color .4s;
    color: var(--white-clr);
    font-size: 1rem;
    font-weight: 400;
}

.navigation__menu-list .navigation__menu-item > .navigation__menu-link:hover {
    color: var(--white-transparant);
}

.navigation__menu-list .navigation__menu-item > .navigation__menu-link::before {
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    width: 0%;
    height: 1px;
    bottom: -.28rem;
    transform: translateX(-50%);
    background-color: var(--white-clr);
    transition: transform .4s ease, width .4s ease;
}

.navigation__menu-list .navigation__menu-item > .navigation__menu-link:hover::before {
    width: 100%;
    transform: translateX(-50%);
}

/* Button Group */
.navigation__nav .navigation__btn-group {
    display: inline-flex;
    column-gap: 1rem;
    align-items: center;
    font-size: 1rem;
}

.navigation__nav .navigation__btn-group > .navigation__btn {
    border-radius: 1.5rem;
    padding: .5rem 1rem;
}

.navigation__btn-group > .navigation__btn--trial {
    border: 2px solid var(--gray-clr);
    color: var(--white-light-clr);
    font-weight: 400;
    position: relative;
    overflow: hidden;
    transition: color .4s ease;
}

.navigation__btn-group:hover .navigation__btn--trial {
    color: var(--black-clr);
}

.navigation__btn-group .navigation__btn--trial::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--white-light-clr);
    transition: all .4s ease;
    z-index: -1;
}

.navigation__btn-group:hover .navigation__btn--trial::before {
    left: unset;
    right: 0;
    width: 100%;
}

.navigation__btn-group > .navigation__btn--account {
    background-color: var(--second-text-clr);
    color: var(--black-clr);
}

/* Btn Toggle */
.navigation__btn-close, 
.navigation__btn-toggle {
    position: relative;
    display: none;
    cursor: pointer;
}

.navigation__btn-close > i,
.navigation__btn-toggle > i {
    font-size: 2rem;
    color: var(--white-light-clr);
}

/* ---------------------------------HERO SECTION-------------------------------- */

/* Main Hero Section */
main {
    margin-top: 7rem;
    display: flex;
}

main > .hero__content {
    flex: 1;
}

/* Hero Tagline */
.hero__content > .hero__tagline {
    background-color: var(--white-clr);
    border-radius: 1rem;
    padding: .7rem 1rem;
}

/* Hero Title And Animations */

.hero__content > .hero__title {
    margin-top: 5rem;
    font-size: 2.5rem;
    text-transform: capitalize;
    color: var(--white-light-clr);
    font-weight: 300;
    word-spacing: nowrap;
    line-height: 4rem;
}

.hero__title > .hero__infinity--icon {
    font-size: 3rem;
    color: var(--text-clr);
}

.hero__title > .hero__brand {
    font-weight: 700;
}

.hero__title > sup.hero__planet--icon {
    font-size: 1.5rem;
}

.hero__title > .hero__brand--tagline {
    background-color: var(--text-clr);
    padding: .2rem;
    color: var(--black-clr);
    font-weight: bold ;
}


/* Description */

.hero__content .hero__description{
    margin-top: 2rem;
    color: var(--white-clr);
    text-align: justify;
    line-height: 2rem;
    font-weight: 300;
}

/* Buttons Group */

.hero__content .hero__buttons {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 2.5rem auto;
    position: relative;
}

.hero__buttons > .hero__buttons--primary {
    position: relative;
    background-color: var(--text-clr);
    padding: 1rem 1.5rem;
    border-radius: calc(2.5rem - 1rem);
    color: var(--black-clr);
}

.hero__buttons > .hero__buttons--secondary { 
    background-color: var(--black-clr);
    color: var(--white-light-clr);
    border: 1px solid var(--white-light-clr);
    padding: 1rem 2rem;
    border-radius: calc(3rem - 1rem);
}

/* ---------------------------------HERO IMAGE-------------------------------- */

/* aside */
aside {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero__image > .hero__figure {
    background-size: cover; 
    background-position: center; 

}

aside > .hero__figure--features {
    position: relative;
    background-image: url('../assets/imagefigure-1.webp');
    width: 800px;
    min-width: 400px;
    height: 400px;
    border-radius: calc( .05 * 800px);
    object-fit: cover;
    overflow: hidden;
}

aside > .hero__figure--features::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    pointer-events: none; 
    border-radius: inherit; 
}

/* Labels Group */
.hero__figure > .hero__labels{
    color: var(--white-light-clr);
    font-size: .8rem;
    cursor: pointer;
}

.hero__figure .hero__labels > span {
    position: absolute;
    background-color: var(--white-transparant);
    padding: .5rem 1rem;
    border-radius: 1rem;
    display: flex;
    column-gap: .4rem;
    align-items: center;
    justify-content: center;
}

.hero__labels span > i {
    font-size: 1rem;
    background-color: var(--white-light-clr);
    color: var(--black-clr);
    border-radius: 50%;
    padding: .2rem;
    margin-left: -.5rem ;
    
}

.hero__label:nth-child(1) {
    top: 5vh;
    left: 10vw; 
}

.hero__label:nth-child(2) {
    top: 15vh; 
    right: 10vw;

}

.hero__label:nth-child(3) {
    top: 20vh; 
    left: 5vh;
}

.hero__label:nth-child(4) {
    bottom: 10vh; 
    right: 5vw;
}

.hero__label:nth-child(5) {
    bottom: 5vh;
    left: 10vw;
}

/* Hero Figure Two */

.hero__image > .hero__figure--container {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.hero__figure--container > .hero__figure--cta {
    position: relative;
    background-image: url('../assets/imgaefigure-2.webp');
    width: 400px;
    min-width: 200px;
    height: 200px;
    border-radius: calc(0.05 * 400px);
    background-position: center;
    background-size: cover;
    flex: 1;
}

.hero__figure--container > .hero__figure--cta::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    pointer-events: none; 
    border-radius: inherit; 
}

.hero__figure--cta > .hero__cta__images {
    display: inline-flex;
    position: relative;
    margin: 0.5rem 1.5rem;
}

.hero__cta__images > .hero__cta__image {
    width: 2.5rem;
    height: auto;
    border-radius: 100%;
    object-fit: cover;
}

.hero__cta--image1 {
    position: absolute;
} 

.hero__cta--image2 {
    position: absolute;
    z-index: 2;
    left: 2rem;
}

.hero__cta--image3 {
    position: absolute;
    left: calc(2rem + 2rem);
    z-index: 3;
}

.hero__cta--image4 {
    position: absolute;
    left: calc(4rem + 2rem);
    z-index: 4;
}

.hero__figure--cta > .hero__content__cta {
    position: relative;
    top: 20%;
    display: flex;
    justify-content: space-between;
    margin: 0 1.5rem;
    flex-direction: column;
    height: 65%;
}


.hero__content__cta > .hero__figure__label {
    color: var(--white-clr);
    font-weight: 700;
}

.hero__content__cta > .hero__figure__title {
    width: 80%;
    text-transform: capitalize;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--white-clr);
}

/* Visualisai Image Man Farming */

.hero__figure-container .hero__figure--visual {
    flex: 1 ;
}

.hero__figure--visual > .hero__visual--image {
    width: 400px;
    min-width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: calc(0.05 * 400px);
}

.hero__figure--visual > .hero__visual--image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    pointer-events: none; 
    border-radius: inherit; 
}





/* --------------------------Responsive Breakpoints------------------------ */

/* For 2X Large Device */
@media  screen and (max-width: 1505px) {
    
}

/* For X Large Device */

@media screen and (max-width: 1280px) {}

/* For Small device */
@media screen and (max-width: 640px) {
    /* Navigation For Mobile */
    .navigation__menu {
        position: fixed;
        inset: 0 100% 0 -60%;
        background-color: var(--black-clr);
        flex-direction: column;
        justify-content: center;
        transition: inset .4s ease;
        row-gap: 10rem;
    }
    /* Show-menu from adding classlist in JavaScript */
    .show-menu {
        inset: 0 50% 0 0;
    }
    /* Navigation List for mobile */
    .navigation__menu > .navigation__menu-list {
        flex-direction: column;
        flex: 0;
        row-gap: 2rem;
        position: relative;
        text-align: justify;
    }
    /* Navigation items for mobile and add animation */
    .navigation__menu .navigation__menu-list > .navigation__menu-item {
        transform: translateX(-14.5rem);
        opacity: 0;
        transition: transform .4s ease-in-out;
    }

    .navigation__menu.show-menu .navigation__menu-item {
        transform: translateX(0);
        opacity: 1;
    }

    /* Transition Delay for Navigation Items */
    .navigation__menu-item:nth-child(1) {transition-delay: .1s !important;}
    .navigation__menu-item:nth-child(2) {transition-delay: .2s !important;}
    .navigation__menu-item:nth-child(3) {transition-delay: .3s !important;}
    .navigation__menu-item:nth-child(4) {transition-delay: .4s !important;}
    .navigation__menu-item:nth-child(5) {transition-delay: .5s !important;}

    .navigation__menu-item > .navigation__menu-link {
        font-size: 1.2rem;
    }

    .navigation__menu-item > .navigation__menu-link:hover {
        color: var(--white-clr);
    }

    .navigation__menu-item > .navigation__menu-link::before {
        content: '';
        position: absolute;
        left: 0%;
        right: 0;
        width: 0%;
        transform: translateX(0);
        background-color: var(--white-clr);
        transition: left .4s ease, width .4s ease;
    }

    .navigation__menu-item > .navigation__menu-link:hover::before {
        transform: translateX(0);
    }

    .navigation__btn-close, 
    .navigation__btn-toggle {
        position: relative;
        display: flex;
    }

    .navigation__btn-close {
        position: absolute;
        top: -7rem;
        right: -2rem;
    }

    .navigation__nav > .navigation__btn-group {
        column-gap: 1rem;
        flex: 0;
        column-gap: .5rem;
        display: flex;
    }

    .navigation__btn-group > .navigation__btn--trial {
        border: 1px solid var(--white-light-clr);
        padding: .5rem 1rem;
        color: var(--white-light-clr);
        font-weight: 400;
        border-radius: 1.5rem;
    }

    .navigation__btn-group > .navigation__btn--account {
        background-color: var(--second-text-clr);
        color: var(--black-clr);
        font-weight: 400;
        border-radius: 1.5rem;
        padding: .5rem 1rem;
    }
}